html, body {
  height: 100%;
  width: 100%;
  background-color: #280101;
  
}

#Caucaso {

color: #f1f4f8;
  margin: 20px;border: 12px
  
}

h1,h2 {

  color: white;
  box-sizing: 10px ;
  
  border: 100em;
  
}